.bg-color-header{
    background-color:#2c3e50 ;
}
.bg-color-container1{
    background-color: #1abc9c !important;
}
.cardWidthAvatar{
    width: 15%;
}
.line{
    background-color: white;
	height: 5px;
	width: 10%;
	border-radius: 5px;
}
.lineBlack{
    background-color: black;
	height: 5px;
	width: 10%;
	border-radius: 5px;
}
.minHeight{
    min-height: 400px;
}
.cardWidth{
    width: 100%;
}
.backgroundCardsImg{
    background-color: white;
}
.bg-color-container2{
    background-color: white;
}
.bg-color-card1{
    background-color: brown!important;
}
.bg-color-card2{
    background-color: green!important;
}
.bg-color-card3{
    background-color: red!important;
}
.bg-color-card4{
    background-color: orange!important;
}
.bg-color-card5{
    background-color: blue!important;
}
.bg-color-card6{
    background-color: violet!important;
}